# Build
build/
dist/
node_modules/

# Prefer Yarn; ignore npm lockfile
package-lock.json

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# Env
.env
.env.*
!.env.example
